<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="Key" value="23, 7, 19, 11, 24, 226, 85, 45, 114, 184, 27, 162, 37, 112, 222, 209, 241, 24, 175, 144, 176, 53, 196, 29, 24, 26, 17, 218, 131, 236, 53, 209" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="DefaultConnection" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="qEjoH4e2gKWfWk+Fzt90kphvMMvErNTt+F5dHq/7Z2/NV/WzlcCGi5sXqoAOEuxaYAS6aEbBOH8WZfx2cPSqO9Dz5QmkblFw/pJ5XNmY7ZF5DLhx+9bm4lDhIE4Fyhw+EAKCqocG4QNsvgcGqCdMc1ki0TTvISbAxqgT8ZlHpfaFUYRDmSXCaksSFUle69h0FY3i0458L+lVB+ImRtoxYn3Lnf0nY0ValK2wYRnbS0Er5Ya38qU/j3ymHbGZEKAq02mKlWJzrmeWgxH4HAb/tsn0cMjvHkMoQRV2XMdLe/CSOv7hWUAnjnWHdeKsPfsI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>